body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: #f5f5f5;
    margin-top: 45%;
}

.container {
    display: flex;
    align-items: center;
    flex-direction: column;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.4);
   
}



.titulo {
    font-size: 90px;
    background-color: #ff7f50; 
    color: white; /* Color del texto */
    height: 100px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    border: 2px solid #ff6347; /* Color del borde */
    border-radius: 10px; /* Borde redondeado */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.4);
}

.square-input {
    width: 200px;
    height: 390px;
    background-color: #ffffff;
    border: 2px solid #e4e1e1;
    border-radius: 10px;
    margin-top: 5%;
    margin-right: 10px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.4);
}

.square-input img {
    max-width: 100%;
    max-height: 100%;
}

.input-group {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
    align-items: center;
}

label, input {
    border: none;
    width: 200px;
    text-align: center; /* Centra el texto horizontalmente */
}

.titulo h2 {
    font-size: 40px; /* Tamaño de fuente deseado */
    color: #000; /* Color del texto deseado */
    text-align: center; /* Centrar el texto horizontalmente */
    /*margin-top: 30%*/
}
