/* Estilos generales */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

center {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

/* Estilos del formulario */
div {
  background-color: #f0f0f0;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  text-align: left; /* Alinea el texto a la izquierda dentro del div */
}

label {
  display: block;
  margin-top: 10px;
}

input {
  width: 100%;
  padding: 8px;
  margin-top: 5px;
  margin-bottom: 15px;
  box-sizing: border-box;
}

/* Estilos del título */
.titulo {
  background-color: #333;
  color: #fff;
  text-align: center;
  padding: 10px;
  border-radius: 5px 5px 0 0;
}

/* Estilos del botón */
button {
  background-color: #4caf50;
  color: #fff;
  padding: 10px 15px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: #45a049;
}
