table {
    margin-top: 5%;
    width: 80%;
    border-collapse: collapse;
}

table, th, td {
    border: 1px solid #ccc;
}

th, td {
    padding: 10px;
}

th {
    background-color: #f5f5f5;
}

th:first-child,
td:first-child {
    width: 250px; /* Ancho deseado para la primera columna */
    text-align: center; /* Opcional, alinear el texto a la izquierda */
    height: 80px;
    font-size: 30px;
}

.button-container {
    text-align: center;
    margin-top: 20px;
}

.button {
    padding: 10px 20px;
    background-color: #007BFF;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    margin: 0 10px;
}

.button:hover {
    background-color: #0056b3;
}
.borderless {
    border: none;
    outline: none;
    background: none;
}

.titulo {
    background-color: rgb(210, 250, 250);
    height: 100px;
    margin-top: -70px;
}

.titulo h2 {
    font-size: 50px;
    width: 100%;
    margin-top: 80px;
}

.button {
    padding: 10px 20px;
    background-color: #007BFF;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    margin: 0 10px;
    margin-top: 15px;
}

.button:hover {
    background-color: #0056b3;
}

img {
    max-width: 150px; /* Ajusta el ancho máximo de la imagen a 50px (puedes cambiar este valor según tus necesidades) */
    max-height: 150px; 
}

.button-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.button {
    /* Estilos de los botones */
}
