body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f2f2f2;
}

.login-container {
    background-color: #fff;
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    text-align: center;
    margin-top: 5%;
    height: 400px;
    background-image: url('https://i.pinimg.com/736x/af/df/a1/afdfa1d9e17c73807f5ea5fd8baf4029.jpg'); /* URL de la imagen de fondo */
    background-size: cover; 
    background-repeat: no-repeat; 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

h1 {
    font-size: 45px;
    margin-bottom: 20px;
}

form {
    text-align: left;
}

label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

input {
    width: 90%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    background-color: #007bff;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-weight: bold;
    cursor: pointer;
    text-align: center;
    margin-left: 150px;
}

button:hover {
    background-color: #0056b3;
    text-align: center;
}

.welcome {
    background-color: #007bff; /* Color de fondo del contenedor */
    color: #fff; /* Color del texto */
    padding: 20px; /* Espaciado interno */
    text-align: center; /* Alineación del contenido al centro */
}

h2 {
    font-size: 24px; /* Tamaño de fuente */
    text-transform: uppercase; /* Convertir el texto a mayúsculas */
    margin: 0; /* Eliminar el margen superior e inferior por defecto */
    font-family: 'Arial', sans-serif; /* Tipo de fuente */
    font-weight: bold; /* Peso de la fuente */
}

/* Puedes agregar más estilos según tus preferencias */

